	.layout{
		width: 750px;
		height: 300px;
		margin: 50px auto;
		border: 1px solid #ccc;
		border-top: 0;
		overflow: hidden;
	}
	.layout li{
		width: 20%;
		height: 150px;
		line-height: 150px;
		float: left;
		text-align: center;
	}
	.layout li a{
		background-color: #f4f4f4;
		color: #888;
		height: 150px;
		border-top: 1px solid #ccc;
		border-left: 1px solid #ccc;
		/* margin-left: -1px; */
		display: block;
	}
	.layout li a:hover{
		background-color: #fff;
		color: red;
	}
	@font-face{
		font-family: "icomoon-icon";
		src:url("../fonts/icomoon.eot"); /* IE9 兼容模式 */
		src:url("../fonts/icomoon.eot?#iefix")
		,url("../fonts/icomoon.svg")
		,url("../fonts/icomoon.ttf")
		,url("../fonts/icomoon.woff");
=======
		font-family: "imooc-icon";
		src: url("../fonts/icomoon.eot"); /* IE9 兼容模式 */
		src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype")
		,url("../fonts/icomoon.woff") format("woff")
		,url("../fonts/icomoon.ttf") format("truetype")
		,url("../fonts/icomoon.svg") format("svg");
>>>>>>> origin/master
		font-weight: normal;
		font-style: normal;
	}
	.imooc-icon{
		font-family: "icomoon-icon";
		font-weight: normal;
<<<<<<< HEAD
		font-style: normal;
=======
>>>>>>> origin/master
		font-size: 32px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}


	.icon-google-plus2:before{
		content: "\e900";
	}
	.icon-google-drive:before{
		content: "\e901";			
	}
	.icon-facebook2:before{
		content: "\e902";
	}
	.icon-twitter:before{
		content: "\e903";
	}
	.icon-youtube2:before{
		content: "\e904";
	}
	.icon-behance2:before{
		content: "\e905";
	}	
	.icon-steam2:before{
		content: "\e906";
	}
	.icon-github:before{
		content: "\e907";
	}
	.icon-appleinc:before{
		content: "\e908";
	}
	.icon-android:before{
		content: "\e909";
	}

/* .yt-overlay-main .yt-overlay-end span.move{
	transform:rotate(7200deg);
	-moz-transform:rotate(7200deg);
	-webkit-transform:rotate(7200deg);
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=20);
} */